.tagsummary-notags {
    color: var(--link-color) !important;
    font-weight: 500 !important;
    border: 1px solid var(--link-color) !important; 
    border-radius: 3px !important;
    padding: 10px 10px;
}

.tagsummary-button {
   min-width: 0px !important;
   min-height: 0px !important;
   width: 30px !important;
   height: 30px !important;
   border: none !important;
   box-shadow: none !important;
   outline: none !important;
   cursor: pointer !important;
   box-shadow: none !important;
   margin: 0px 5px !important;
   padding: 0px !important;
   display: inline-flex !important;
   align-items: center !important;
   justify-content: center !important;
   --icon-size: var(--icon-size-l) !important;
   /*line-height: 25px !important;
   border-radius: 5px !important;
   width: auto !important;
   
   padding: 2.5px 5px !important;*/
   /*font-size: 65% !important;*/
   /*margin: 0px 3px 0px 0px !important;*/
   /*min-width: 40px !important;*/
   color: var(--link-color) !important;
   /*border: 1px solid var(--link-color) !important;*/ 
   background-color: var(--background-primary) !important;
}
.tagsummary-button:hover {
    background-color: var(--link-color) !important;
    color: var(--background-secondary) !important;
}

.tagsummary-dropdown {
   /*color: var(--text-primary) !important;
   background: none;
   border: 2px solid var(--text-quote) !important;
   border-radius: 5px !important;
   padding: 0px 0px 10px 0px !important;
   font-size: 65% !important;
   margin: 2px !important;
   color: var(--link-color) !important;
   border: 1px solid var(--link-color) !important; 
   background-color: var(--background-primary) !important;*/
   color: var(--link-color) !important;
   background: transparent;
   border: 2px solid var(--text-quote) !important;
   border-radius: 5px !important;
   box-shadow: none !important;
   vertical-align: top !important;
   border: 2px solid var(--link-color) !important; 
   background-color: var(--background-primary) !important;
   min-height: 0px !important;
   padding: 2px 5px 2px 5px !important;
   margin: 0px 10px 0px -5px !important;
   
  /*
   display: inline-flex !important;
   align-items: center !important;
   justify-content: center !important;
   margin: 0px 0px 10px 0px !important;
   appearance: none; Remove default styling 
    -webkit-appearance: none; For Safari 
    -moz-appearance: none; For Firefox 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill='var(--text-primary)' width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    background-size: 1.5rem;
    padding-right: 2rem;  Ensure there's enough padding to not overlap text */
}

.tagsummary-dropdown:hover {
    background-color: transparent !important;
    background-color: var(--link-color) !important;
    color: var(--background-secondary) !important;
}



.tagsummary-item-title {
    margin: 5px 0px
}

.tagsummary-buttons {
    /*float: right;*/
    text-align: right !important;
}

blockquote.tag-summary-paragraph {
    transition: height 0.3s, opacity 0.3s;
    /*transition: height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;*/
    overflow: hidden;
}

.removing {
    height: 0 !important; 
    opacity: 0 !important; 
    margin: 0 !important; 
    padding: 0 !important; 
}

@media only screen and (max-device-width: 480px), 
   only screen and (max-width: 480px) and (orientation: landscape),
   only screen and (max-device-width: 1024px), 
   only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
   
   .tagsummary-button {
       display: inline-block !important;
       font-size: 12px !important;
       padding: 5px 5px;
       box-shadow: none;  /* remove shadows if they look off */
       border-radius: 5px;
       color: var(--link-color) !important;
       /*border: 1px solid var(--link-color); 
       width: auto !important;            /* auto adjusts width based on content */
       /*max-width: 60px !important;  */  
       max-height: 40px !important;
       min-width: 40px !important;
       white-space: nowrap;
       /*text-align: left !important;*/
       overflow: hidden;
       background-color: var(--background-primary) !important;
   }

}